html {
  scroll-behavior: smooth;
}

.the-header {
  background-image: url("/img/hmmd.svg"), url(/patterns/black-thread-light.png);
  background-repeat: no-repeat, repeat;

  background-size: contain, auto;
  background-position: bottom right, top left;
}

.tamper-opacity {
  background-color: transparent !important;

  @include media-breakpoint-down(md) {
    opacity: 0.9;
    padding: $spacer;
    background-color: $light !important;
  }
}

/*
** Extending bootstrap
*/

.v-center {
  @extend .d-flex,
    .justify-content-center,
    .align-items-center,
    .flex-column,
    .m-0,
    .my-auto;
}

.min-vh-75 {
  min-height: 75vh !important;
}

// Set NAME font
.font-righteous {
  font-family: "Righteous", cursive !important;
}
