$red: #ee0016;
$primary: #5a896e;
$secondary: #253b80;

$border-width: 0.1rem;
$enable-shadows: true;

$link-hover-color: $red;
$link-hover-decoration: none;

$display4-size: 3.2rem;
$enable-responsive-font-sizes: true;
